@use '../../utils/style/variables' as vars;

.container {
  padding: 20px;
  max-width: 1240px;
  margin: 0 auto;
  min-height: 90vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.headerLeft {
  flex: 1;
}

.title-location h1 {
  color: vars.$primary-color;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}

.title-location p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}

.tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 10px;
  min-width: 95px;
  padding: 0 10px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  background-color: vars.$primary-color;
}

.rating {
  margin-left: auto;
}

.headerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: vars.$primary-color;
  font-size: 18px;
  font-weight: 500;
  gap: 20px;
}

.host-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.host-name {
  flex-wrap: wrap;
  max-width: 100px;
  margin-right: 10px;
  text-align: end;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.section-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.expandable-section {
  max-width: 582px;
  flex: 1;
}

.expandable-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.expandable-section p {
  margin: 0;
}

@media (max-width: 668px) {
  .headerContainer {
    flex-direction: column;
  }

  .title-location h1 {
    font-size: 18px;
  }

  .title-location p {
    font-size: 14px;
  }

  .headerRight {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .host-info {
    margin-left: auto;
  }

  .host-name {
    font-size: 12px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .horizontal-list li {
    min-width: 84px;
    min-height: 18px;
    font-size: 10px;
  }

  .rating {
    margin-left: 0;
  }

  .section-container {
    flex-direction: column;
    gap: 20px;
  }

  .expandable-section {
    max-width: 100%;
  }
}
