.navContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}

.headerLogo {
  height: 68px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.navLinksContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.styledLinkNav {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  
  &.active {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

@media (max-width: 668px) {
  .styledLinkNav {
    font-size: 12px;
    text-transform: uppercase;
  }

  .navContainer {
    padding: 0 20px;
  }

  .headerLogo {
    width: 145px;
    height: auto;
  }
}
