@use '../../utils/style/variables' as vars;

.footerLogo {
    width: 122px;
}

.navContainer {
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: vars.$color-black;
  justify-content: space-between;
  align-items: center;
}

.rights {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}