@use '../../utils/style/variables' as vars;

.footerLogo {
    width: 122px;
}

.navContainer {
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 668px) {
    gap: 10px;
  }
}

.rights {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;

  @media (max-width: 668px) {
    font-size: 12px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 130px;
  }
}